<div class="auth-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 message">
        <a [routerLink]="['/login']">
          <img src="../../assets/logo-orion-white.png" class="logo" alt="logo orion">
        </a>
        <img src="" alt="">
        <h3 class="slogan">Because every second matters.</h3>
      </div>
      <div class="col-12 col-lg-5 main">
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="wrapper-form">
              <h2 class="mb-25">Redefinir senha</h2>
              <p>Escolha uma nova senha.</p>
            </div>
            <form name="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nova Senha</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Digite sua nova senha"
                  formControlName="password" />
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                  {{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="reset.password.errors">
                  <mat-error *ngIf="reset.password.errors.required">Campo obrigatório</mat-error>
                </mat-error>
              </mat-form-field>

              <a [routerLink]="['/dashboard']">
                <button type="submit" class="full-width mb-20" mat-raised-button color="primary"
                  [disabled]="!resetForm.valid">Redefinir
                </button>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>