<div class="auth-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-7 message">
        <a [routerLink]="['/login']">
          <img src="../../assets/logo-orion-white.png" class="logo" alt="logo orion">
        </a>
        <img src="" alt="">
        <h3 class="slogan">Because every second matters.</h3>
      </div>
      <div class="col-12 col-lg-5 main">
        <div class="row justify-content-center full-width">
          <div class="col-10">
            <div class="wrapper-form">
              <h2>Olá,</h2>
              <h2 class="mb-25">Faça o seu Cadastro</h2>
              <p>Você precisa preencher as informações abaixo para se cadastrar no sistema.</p>
            </div>
            <div>
              <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
              <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step [stepControl]="registerDataForm">
                  <form [formGroup]="registerDataForm">
                    <ng-template matStepLabel>Dados</ng-template>
                    <div class="row">
                      <div class="col-6">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Nome</mat-label>
                          <input type="text" matInput placeholder="ex: João Silva" formControlName="name" required />
                          <mat-error *ngIf="registerData.name.errors">
                            <mat-error *ngIf="registerData.name.errors.required">Campo obrigatório</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>E-mail</mat-label>
                          <input type="email" matInput placeholder="ex: joaosilva@gmail.com" formControlName="email"
                            required />
                          <mat-error *ngIf="registerData.email.errors">
                            <mat-error *ngIf="registerData.email.errors.required">Campo obrigatório</mat-error>
                            <mat-error *ngIf="registerData.email.errors.email">Informe um e-mail válido</mat-error>
                            <mat-error *ngIf="registerData.email.errors.existingEmails">E-mail já existente no sistema</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Tipo de Pessoa</mat-label>
                          <mat-select formControlName="person" required>
                            <mat-option value="pf">
                              Pessoa Física
                            </mat-option>
                            <mat-option value="pj">
                              Pessoa Jurídica
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="registerData.person.errors">
                            <mat-error *ngIf="registerData.person.errors.required">Campo obrigatório</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-6">

                        <div [ngSwitch]="registerData.person.value">
                          <mat-form-field appearance="outline" class="full-width" *ngSwitchCase="'pf'">
                            <mat-label *ngIf="registerData.person.value === 'pf'">CPF</mat-label>
                            <input type="text" *ngIf="registerData.person.value === 'pf'" matInput mask="000.000.000-00"
                              placeholder="ex: 000.000.000-00" formControlName="identificationNumber" minlength="11"
                              required />
                            <mat-error *ngIf="registerData.identificationNumber.errors">
                              <mat-error *ngIf="registerData.identificationNumber.errors.required">Campo obrigatório</mat-error>
                              <mat-error *ngIf="registerData.identificationNumber.errors.minlength">CPF deve conter 11
                                dígitos</mat-error>
                              <mat-error *ngIf="registerData.identificationNumber.errors.invalidCpf">CPF inválido</mat-error>
                            </mat-error>
                          </mat-form-field>

                          <mat-form-field appearance="outline" class="full-width" *ngSwitchCase="'pj'">
                            <mat-label *ngIf="registerData.person.value === 'pj'">CNPJ</mat-label>
                            <input type="text" *ngIf="registerData.person.value === 'pj'" matInput mask="00.000.000/0000-00"
                              placeholder="ex: 00.000.000/0000-00" formControlName="identificationNumber" minlength="14"
                              required />

                            <mat-error *ngIf="registerData.identificationNumber.errors">
                              <mat-error *ngIf="registerData.identificationNumber.errors.required">Campo obrigatório</mat-error>
                              <mat-error *ngIf="registerData.identificationNumber.errors.minlength">CNPJ deve conter 14
                                dígitos</mat-error>
                              <mat-error *ngIf="registerData.identificationNumber.errors.invalidCnpj">CNPJ inválido</mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div>



                      </div>
                      <div class="col-12">
                        <div formArrayName="phoneNumbers" *ngFor="let phoneNumber of registerData.phoneNumbers.controls; let i=index">
                          <div [formGroupName]="i">
                            <div class="row">
                              <div class="col-6">
                                <mat-form-field appearance="outline" class="full-width">
                                  <mat-label>Tipo de Telefone</mat-label>
                                  <mat-select required formControlName="type">
                                    <mat-option value="residential">
                                      Residencial
                                    </mat-option>
                                    <mat-option value="business">
                                      Comercial
                                    </mat-option>
                                    <mat-option value="cellphone">
                                      Celular
                                    </mat-option>
                                  </mat-select>
                                  <mat-error *ngIf="phoneNumber.controls.type.errors">
                                    <mat-error *ngIf="phoneNumber.controls.type.errors.required">Campo obrigatório</mat-error>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                              <div class="col-6">
                                <mat-form-field appearance="outline" class="full-width">
                                  <mat-label>Número</mat-label>
                                  <input type="text" matInput placeholder="ex: (19) 0000-00000" formControlName="number"
                                    mask="(00) 0000-00000" required />
                                  <mat-error *ngIf="phoneNumber.controls.number.errors">
                                    <mat-error *ngIf="phoneNumber.controls.number.errors.required">Campo obrigatório</mat-error>
                                    <mat-error *ngIf="phoneNumber.controls.number.errors.minlength">Número inválido</mat-error>
                                  </mat-error>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Senha</mat-label>
                          <input [type]="hidePass ? 'password' : 'text'" matInput placeholder="Digite sua senha"
                            formControlName="password" required />
                          <mat-hint>O campo Senha deve ter de 8-32 dígitos, números, letras maiúsculas e minúsculas.</mat-hint>
                          <mat-icon matSuffix (click)="hidePass = !hidePass">
                            {{ hidePass ? 'visibility_off' : 'visibility' }}</mat-icon>
                          <mat-error *ngIf="registerData.password.errors">
                            <mat-error *ngIf="registerData.password.errors.required">Campo obrigatório</mat-error>
                            <mat-error *ngIf="registerData.password.errors.pattern">Campo deve ter de 8-32 caracteres,
                              números,
                              letras
                              maiúsculas e minúsculas.</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Confirmar Senha</mat-label>
                          <input [type]="hideConfirmPass ? 'password' : 'text'" matInput placeholder="Confirmar senha"
                            formControlName="confirmPassword" required />
                          <mat-icon matSuffix (click)="hideConfirmPass = !hideConfirmPass">
                            {{ hideConfirmPass ? 'visibility_off' : 'visibility' }}</mat-icon>
                          <mat-error *ngIf="registerData.confirmPassword.errors">
                            <mat-error *ngIf="registerData.confirmPassword.errors.required">Campo obrigatório</mat-error>
                            <mat-error *ngIf="registerData.confirmPassword.errors.mustMatch">Senha não corresponde</mat-error>
                          </mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    <button type="button" mat-raised-button matStepperNext color="primary" [disabled]="!registerDataForm.valid"
                      class="full-width mb-20">Próxima
                      etapa</button>
                    <a [routerLink]="['/login']">
                      <button type="submit" class="full-width" mat-stroked-button color="primary">Já possuo
                        cadastro</button>
                    </a>
                  </form>
                </mat-step>
                <mat-step [stepControl]="registerAddressForm">
                  <form [formGroup]="registerAddressForm" (ngSubmit)="onSubmit(stepper)">
                    <ng-template matStepLabel>Endereço</ng-template>
                    <div formGroupName="address">
                      <div class="row">
                        <div class="col-12">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>CEP</mat-label>
                            <input type="text" matInput placeholder="ex: 00.000-000" formControlName="cep" mask="00.000-000"
                              required (blur)="queryCEP()" />
                            <mat-error *ngIf="registerAddress.address.controls.cep.errors">
                              <mat-error *ngIf="registerAddress.address.controls.cep.errors.required">Campo obrigatório</mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Número</mat-label>
                            <input type="text" matInput placeholder="ex: 000" formControlName="number" required />
                            <mat-error *ngIf="registerAddress.address.controls.number.errors">
                              <mat-error *ngIf="registerAddress.address.controls.number.errors.required">Campo
                                obrigatório</mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Complemento</mat-label>
                            <input type="text" matInput placeholder="ex: lado ímpar" formControlName="complement" />
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Rua</mat-label>
                            <input type="text" matInput placeholder="ex: Praça da Sé" formControlName="street" required />
                            <mat-error *ngIf="registerAddress.address.controls.street.errors">
                              <mat-error *ngIf="registerAddress.address.controls.street.errors.required">Campo
                                obrigatório</mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Bairro</mat-label>
                            <input type="text" matInput placeholder="ex: Sé" formControlName="district" required />
                            <mat-error *ngIf="registerAddress.address.controls.district.errors">
                              <mat-error *ngIf="registerAddress.address.controls.district.errors.required">Campo
                                obrigatório</mat-error>
                            </mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Cidade</mat-label>
                            <input type="text" matInput placeholder="ex: São Paulo" formControlName="city" />
                          </mat-form-field>
                        </div>
                        <div class="col-6">
                          <mat-form-field appearance="outline" class="full-width">
                            <mat-label>Estado</mat-label>
                            <mat-select formControlName="state">
                              <mat-option *ngFor="let state of states" [value]="state">
                                {{state}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="full-width mb-20" mat-raised-button color="primary" [disabled]="!registerAddressForm.valid">Finalizar
                      Cadastro</button>
                    <button type="button" class="full-width mb-20" mat-stroked-button matStepperPrevious color="primary">Voltar</button>
                    <a [routerLink]="['/login']">
                      <button type="submit" class="full-width" mat-stroked-button color="primary">Já possuo cadastro</button>
                    </a>
                  </form>
                </mat-step>
              </mat-horizontal-stepper>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>