<div class="auth-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 main">
        <div class="row justify-content-center full-width">
          <div class="col-10">
            <div class="wrapper-form">
              <h2>Olá,</h2>
              <h2 class="mb-25">Faça o Login</h2>
              <p>Você precisa preencher as informações abaixo para entrar no sistema.</p>
            </div>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <form name="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-20">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Digite seu e-mail" formControlName="email" />
                <mat-error *ngIf="login.email.errors">
                  <mat-error *ngIf="login.email.errors.required">Campo obrigatório</mat-error>
                  <mat-error *ngIf="login.email.errors.email">Informe um e-mail válido</mat-error>
                  <mat-error *ngIf="login.email.errors.userNotFound">E-mail não existente no sistema</mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Senha</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Digite seu senha"
                  formControlName="password" />
                <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                  {{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                <mat-error *ngIf="login.password.errors">
                  <mat-error *ngIf="login.password.errors.required">Campo obrigatório</mat-error>
                  <mat-error *ngIf="login.password.errors.wrongPassword">Senha incorreta</mat-error>
                </mat-error>
              </mat-form-field>

              <button type="submit" class="full-width mb-20" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login
              </button>
              <a [routerLink]="['/cadastro']">
                <button type="submit" class="full-width mb-20" mat-stroked-button color="primary">Cadastrar</button>
              </a>
              <!-- <a [routerLink]="['/esqueci-minha-senha']">
                <button type="submit" class="full-width" mat-stroked-button color="primary">Esqueci minha senha</button>
              </a> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>