<header>
  <div class="row-header">
    <div class="person">
      <a href="" [routerLink]="['/dashboard/home']">
        <img src="../../../../assets/didi.svg" alt="didi">
      </a>
    </div>
    <p class="pts"><span class="number">1220 </span>pts</p>
  </div>
</header>

<div class="content">
  <p class="title">
    Ok, vamos perguntar as informações marcadas.
  </p>

  <div class="wrapper-qrcode">
    <img src="../../../assets/qrcode.png" alt="" class="qrcode">
  </div>

  <p class="info">Mostre esse QRcode para veríficar as informações</p>
</div>