<footer>
  <div class="itens" [routerLink]="['/dashboard/home']">
    <img src="../../../../assets/carteira.svg" alt="carteira">
    <p>Carteira</p>
  </div>
  <div class="itens" [routerLink]="['/dashboard/marketplace']">
    <img src="../../../../assets/explorar.svg" alt="explorar">
    <p>Explorar</p>
  </div>
  <div class="itens">
    <img src="../../../../assets/conquistas.svg" alt="conquistas">
    <p>Conquistas</p>
  </div>
  <div class="itens">
    <img src="../../../../assets/convidar.svg" alt="convidar">
    <p>Convidar</p>
  </div>
  <div class="itens">
    <img src="../../../../assets/suporte.svg" alt="suporte">
    <p>Suporte</p>
  </div>
</footer>